---
const year = new Date().getFullYear();
---

<footer class="site-foot">
  <div class="foot-inner">
    <div>
      <div class="foot-mark">Earthscape</div>
      <div class="foot-mark-sub">埴 角 · Studio Archive</div>
    </div>

    <div class="foot-col">
      <h4>Navigate</h4>
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/journal">Journal</a></li>
        <li><a href="/visit">Visit</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>

    <div class="foot-col">
      <h4>Elsewhere</h4>
      <ul>
        <li><a href="https://instagram.com/earthscape.studio" rel="noopener" target="_blank">Instagram</a></li>
        <li><a href="mailto:hello@earthscape-studio.com">Contact</a></li>
        <!--<li><a href="#">Press Kit</a></li>-->
        <!--<li><a href="#">Newsletter</a></li>-->
      </ul>
    </div>
  </div>

  <div class="foot-bottom">
    <span>© {year} Earthscape Studio · All rights reserved</span>
    <span>A peninsula of earth · Made in Taiwan</span>
  </div>
</footer>
